html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: #114d4d;
/* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  width: 300px;
  text-align: center;
  background-color: white;
  font-size: 2rem;

}

#status {
  text-align: right;
  font-size: 1.2rem;
  font-weight: bold;
  color:  gray;
  margin: 10px 10px 0 0;
}

img{
  border: 4px solid #53cf75;
  border-radius: 100%;
}

#name {
  font-size: 2.5rem;
}

#occupation {
  background-color: rgb(238, 238, 238);
  padding: 5px;
}

#occupation p:first-child{
  margin: 10px;
  font-size: 2.2rem;
}

#occupation p:last-child{
  margin: 10px;
  font-size: 1.6rem;
}

#brand{
  display: none;
}

#offer{
  padding: 5px;
}

#offer p:first-child {
  margin: 10px;
}

#offer > p:nth-of-type(2) {
  font-size: 1.8rem;
  margin: 10px;
}

#contact {
  display: flex;
  width:100%;

}

#contact p {
  width: 50%;
  padding: 2rem;
  margin: 0;
  background-color: #50b167
}

#contact p:first-child{
  background-color: #58cb77;
}

@media only screen and (min-width:600px) {
  main{
    height: 400px;
    width: 700px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto auto auto auto;
    grid-area: 
    "status name" 
    "img occupation" 
    "img brand" 
    "contact offer";
  }
  
  #status{
    grid-area: status;
    text-align: left;
  }

  #name{
    grid-area: name;
  }

  img {
    grid-area: img;
  }

  #occupation{
    grid-area: occupation;
  }

  #brand {
    display: flex ;
    grid-area: brand;
  }

  #contact {
    grid-area: contact;
  }

  #offer {
    grid-area: offer;
  }
  *{
    margin: 0;
  }

}